.overlayAward {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 85%;
  transition: transform 1000ms ease-out, opacity 700ms ease-out;
  transform: translateY(100%);
  opacity: 0;
  background-color: #fff;
  color: black;
}

.group:hover .overlayAward {
  transform: translateY(0);
  opacity: 1;
}
.marquee {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.marquee-content {
  display: flex;
  animation: scroll-left 20s linear infinite; /* Adjust speed by changing duration */
}

.marquee-item {
  flex: 0 0 auto;
  width: 320px; /* Increase width */
  height: 320px; /* Increase height */
  padding: 0 16px;
}

.marquee-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 24px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -50%
    ); /* Adjust based on the total width of all images */
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
  display: flex;
}

/* Pause the animation on hover */
.animate-scroll:hover {
  animation-play-state: paused;
}
