.nav-item {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;

  &.animate {
    opacity: 1;
    transform: translateY(0);
  }
}

nav {
  .nav-item {
    &:nth-child(1) {
      transition-delay: 0.1s;
    }
    &:nth-child(2) {
      transition-delay: 0.2s;
    }
    &:nth-child(3) {
      transition-delay: 0.3s;
    }
    &:nth-child(4) {
      transition-delay: 0.4s;
    }
    &:nth-child(5) {
      transition-delay: 0.5s;
    }
    &:nth-child(6) {
      transition-delay: 0.6s;
    }
    &:nth-child(7) {
      transition-delay: 0.7s;
    }
  }
}
